# frontend
frontend/.next/
frontend/node_modules/
frontend/.env*.local

# backend
backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/
backend/.env

# general
.DS_Store
env/

.claude
/**/__pycache__